<a href="https://colab.research.google.com/github/ovisaha5/DataProcessingSP22/blob/main/Quiz7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Quiz7
##Avijit Saha

####Questions

1.   Maximum Duration From Closed and Active start station


2.   Average duration for the closed start station and the active start station.

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [2]:
%%bigquery --project smart-tracer-338719
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
LIMIT 7

      trip_id  ... duration_minutes
0  9900289692  ...               39
1  9900285987  ...               31
2  9900285989  ...               31
3  9900285991  ...               30
4  9900286140  ...               19
5  9900286143  ...               17
6  9900286171  ...                6

[7 rows x 9 columns]

In [3]:
%%bigquery --project smart-tracer-338719
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`
LIMIT 20

    station_id  ...             modified_date
0         3464  ... 2021-01-04 12:00:00+00:00
1         2500  ... 2021-01-04 12:00:00+00:00
2         2536  ... 2021-01-04 12:00:00+00:00
3         2538  ... 2021-01-04 12:00:00+00:00
4         2541  ... 2021-01-04 12:00:00+00:00
5         2545  ... 2021-01-04 12:00:00+00:00
6         2546  ... 2021-01-04 12:00:00+00:00
7         2550  ... 2021-01-04 12:00:00+00:00
8         2564  ... 2021-01-04 12:00:00+00:00
9         2576  ... 2021-01-04 12:00:00+00:00
10        2712  ... 2021-01-04 12:00:00+00:00
11        3381  ... 2021-01-04 12:00:00+00:00
12        1001  ... 2021-01-04 12:00:00+00:00
13        1002  ... 2021-01-04 12:00:00+00:00
14        1003  ... 2021-01-04 12:00:00+00:00
15        1004  ... 2021-01-04 12:00:00+00:00
16        1005  ... 2021-01-04 12:00:00+00:00
17        1006  ... 2021-01-04 12:00:00+00:00
18        1007  ... 2021-01-04 12:00:00+00:00
19        1008  ... 2021-01-04 12:00:00+00:00

[20 rows x 14 columns]

In [10]:
%%bigquery --project smart-tracer-338719
SELECT name, status
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`
WHERE status='active'

                                        name  status
0                    OFFICE/Main/Shop/Repair  active
1                             Boardwalk West  active
2                    Congress & Cesar Chavez  active
3                        Barton Springs Pool  active
4                       Riverside @ S. Lamar  active
..                                       ...     ...
73            South Congress @ Bouldin Creek  active
74  MoPac Pedestrian Bridge @ Veterans Drive  active
75                    Dean Keeton & Speedway  active
76                      Dean Keeton & Whitis  active
77                         21st & University  active

[78 rows x 2 columns]

In [13]:
%%bigquery --project smart-tracer-338719
SELECT COUNTIF(status='active')
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`

   f0_
0   78

###Which station has the maximum duration from closed and active start station?

First, I join both of the table

In [63]:
%%bigquery --project smart-tracer-338719
SELECT start_station_name, status, duration_minutes as duration
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`as station JOIN `bigquery-public-data.austin_bikeshare.bikeshare_trips` as trips ON station.name=trips.start_station_name
GROUP BY start_station_name, duration_minutes, status

                    start_station_name  status  duration
0                     Zilker Park West  closed        39
1              Toomey Rd @ South Lamar  closed        31
2              Toomey Rd @ South Lamar  closed        30
3      State Capitol @ 14th & Colorado  closed        19
4      State Capitol @ 14th & Colorado  closed        17
...                                ...     ...       ...
26454                    Nueces & 26th  active       152
26455                    Nueces & 26th  active       473
26456                    Nueces & 26th  active      1012
26457                    Nueces & 26th  active       652
26458                    Nueces & 26th  active       562

[26459 rows x 3 columns]

Now, I will only find the max duration for the closed station and open station

In [80]:
%%bigquery --project smart-tracer-338719
SELECT start_station_name, status, duration
FROM (SELECT start_station_name, status, duration_minutes as duration
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`as station JOIN `bigquery-public-data.austin_bikeshare.bikeshare_trips` as trips ON station.name=trips.start_station_name
GROUP BY start_station_name, duration_minutes, status)
WHERE status='closed'
ORDER BY duration DESC
LIMIT 1

  start_station_name  status  duration
0  23rd & Rio Grande  closed      6643

Now I will find the max duration for the active station

In [67]:
%%bigquery --project smart-tracer-338719
SELECT start_station_name, status, duration
FROM (SELECT start_station_name, status, duration_minutes as duration
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`as station JOIN `bigquery-public-data.austin_bikeshare.bikeshare_trips` as trips ON station.name=trips.start_station_name
GROUP BY start_station_name, duration_minutes, status)
WHERE status='active'
ORDER BY duration DESC
LIMIT 1

            start_station_name  status  duration
0  Barton Springs @ Kinney Ave  active     21296

Now I count average duration grouped by status and count total number of open and closed station

In [73]:
%%bigquery --project smart-tracer-338719
SELECT status, AVG(duration) as avg_duration, COUNT(status) as total
FROM (SELECT start_station_name, status, duration_minutes as duration
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`as station JOIN `bigquery-public-data.austin_bikeshare.bikeshare_trips` as trips ON station.name=trips.start_station_name
GROUP BY start_station_name, duration_minutes, status)
GROUP BY status

   status  avg_duration  total
0  closed    219.548847   4207
1  active    346.568084  22252