<a href="https://colab.research.google.com/github/ovisaha5/DataProcessingSP22/blob/main/Quiz_13_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

####Quiz 13 
#####Avijit Saha
#####Data Types

In [18]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/bank.csv')
df.head(10)

   age            job  marital  education  ... pdays  previous poutcome   y
0   30     unemployed  married    primary  ...    -1         0  unknown  no
1   33       services  married  secondary  ...   339         4  failure  no
2   35     management   single   tertiary  ...   330         1  failure  no
3   30     management  married   tertiary  ...    -1         0  unknown  no
4   59    blue-collar  married  secondary  ...    -1         0  unknown  no
5   35     management   single   tertiary  ...   176         3  failure  no
6   36  self-employed  married   tertiary  ...   330         2    other  no
7   39     technician  married  secondary  ...    -1         0  unknown  no
8   41   entrepreneur  married   tertiary  ...    -1         0  unknown  no
9   43       services  married    primary  ...   147         2  failure  no

[10 rows x 17 columns]

#####Data type in first column

In [4]:
df.age.dtype

dtype('int64')

The first column data type is integer, since this is age so I am going to keep it as integers.

#####Second and fourth column ordering.

In [19]:
df.job.unique()#getting all category in 2nd column

array(['unemployed', 'services', 'management', 'blue-collar',
       'self-employed', 'technician', 'entrepreneur', 'admin.', 'student',
       'housemaid', 'retired', 'unknown'], dtype=object)

Since, this is a job categories so there is no order for these categories and I will keep it same

In [10]:
df.education.unique() #gertting categories in column 4

array(['primary', 'secondary', 'tertiary', 'unknown'], dtype=object)

I could assign as order for the fourth column

In [35]:
from pandas.api.types import CategoricalDtype

cat_type = CategoricalDtype(categories=['primary', 'secondary', 'tertiary', 'unknown'],ordered=True)

dfeducation = df.education.astype(cat_type)
dfeducation.dtype

CategoricalDtype(categories=['primary', 'secondary', 'tertiary', 'unknown'], ordered=True)

#####Finding boolean

In [40]:
df.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

All the object data type can be boolean. Here job, marital, education, contract, month, poutcome has a descriptive name.

In [43]:
(df.marital=='married').dtype

dtype('bool')

In [66]:
df[(df.marital == 'married') & (df.job =='unemployed') & (df.y=='yes')]

      age         job  marital  education  ... pdays  previous poutcome    y
108    56  unemployed  married    primary  ...    -1         0  unknown  yes
328    35  unemployed  married  secondary  ...   209         3  success  yes
1917   53  unemployed  married    primary  ...    -1         0  unknown  yes
2122   48  unemployed  married  secondary  ...   282         4  success  yes
2431   42  unemployed  married  secondary  ...   415         2  failure  yes
4159   53  unemployed  married  secondary  ...   181        14  success  yes
4215   37  unemployed  married  secondary  ...   182         1  success  yes
4217   38  unemployed  married   tertiary  ...    -1         0  unknown  yes
4392   50  unemployed  married  secondary  ...    -1         0  unknown  yes

[9 rows x 17 columns]

####Interesting thing!
#####This dataset has a various type of data but no float type in it.