<a href="https://colab.research.google.com/github/ovisaha5/DataProcessingSP22/blob/main/Quiz_16_Dates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

####Quiz 16
#####Avijit Saha

In [5]:
import pandas as pa

df = pa.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/IOT-temp.csv')

df

                                        id  room_id/id  ... temp  out/in
0      __export__.temp_log_196134_bd201015  Room Admin  ...   29      In
1      __export__.temp_log_196131_7bca51bc  Room Admin  ...   29      In
2      __export__.temp_log_196127_522915e3  Room Admin  ...   41     Out
3      __export__.temp_log_196128_be0919cf  Room Admin  ...   41     Out
4      __export__.temp_log_196126_d30b72fb  Room Admin  ...   31      In
...                                    ...         ...  ...  ...     ...
97601   __export__.temp_log_91076_7fbd08ca  Room Admin  ...   31      In
97602  __export__.temp_log_147733_62c03f31  Room Admin  ...   31      In
97603  __export__.temp_log_100386_84093a68  Room Admin  ...   31      In
97604  __export__.temp_log_123297_4d8e690b  Room Admin  ...   31      In
97605  __export__.temp_log_133741_32958703  Room Admin  ...   31      In

[97606 rows x 5 columns]

In [8]:
df.dtypes

id            object
room_id/id    object
noted_date    object
temp           int64
out/in        object
dtype: object

**Converting into DateTime**

In [62]:
df.noted_date = pa.to_datetime(df.noted_date, format='%m/%d/%Y %H:%M')

**Minimum and Maximum**

In [18]:
df.noted_date.min()

Timestamp('2018-07-28 07:06:00')

In [19]:
df.noted_date.max()

Timestamp('2018-12-08 09:30:00')

**Interval**

In [66]:
index=df.noted_date.shift()-df.noted_date
index.max()

Timedelta('11 days 13:38:00')

Average

In [90]:
df.noted_date.mean()

Timestamp('2018-10-07 05:10:38.821178880')

Average Temp

In [95]:
#df[(df.noted_date('09-11-2018'))].temp.mean()