<a href="https://colab.research.google.com/github/ovisaha5/DataProcessingSP22/blob/main/Quiz6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

####Quiz 6
####Avijit Saha

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [81]:
%%bigquery --project smart-tracer-338719
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
LIMIT 7

      trip_id  ... duration_minutes
0  9900289692  ...               39
1  9900285987  ...               31
2  9900285989  ...               31
3  9900285991  ...               30
4  9900286140  ...               19
5  9900286143  ...               17
6  9900286171  ...                6

[7 rows x 9 columns]

In [82]:
%%bigquery --project smart-tracer-338719
SELECT station_id, property_type
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`
LIMIT 20

    station_id property_type
0         2576          None
1         2712          None
2         3381          None
3         3464          None
4         1001          None
5         1002          None
6         1003          None
7         1004          None
8         1005          None
9         1006          None
10        1007          None
11        1008          None
12        2500          None
13        2536          None
14        2538          None
15        2541          None
16        2545          None
17        2546          None
18        2550          None
19        2564          None

#####Joining by Inner Join

In [85]:
%%bigquery --project smart-tracer-338719
SELECT start_station_name, property_type, duration_minutes
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations` as stations
JOIN `bigquery-public-data.austin_bikeshare.bikeshare_trips` as trips ON name=start_station_name
GROUP BY station_id, start_station_name, property_type, duration_minutes
ORDER BY duration_minutes DESC
LIMIT 50

                                   start_station_name  ... duration_minutes
0                         Barton Springs @ Kinney Ave  ...            21296
1                       Pfluger Bridge @ W 2nd Street  ...            13981
2                            City Hall / Lavaca & 2nd  ...            12496
3                                      West & 6th St.  ...            10981
4                                 Barton Springs Pool  ...             9982
5                                      2nd & Congress  ...             9562
6                                      West & 6th St.  ...             9118
7                                    Guadalupe & 21st  ...             8657
8               Red River/Cesar Chavez @ The Fairmont  ...             8378
9                             Congress & Cesar Chavez  ...             8305
10  South Congress & Barton Springs at the Austin ...  ...             7989
11                                     West & 6th St.  ...             7915
12                               Trinity & 6th Street  ...             7902
13                                     8th & Congress  ...             7670
14                                     Plaza Saltillo  ...             6931
15                                  21st & University  ...             6832
16            Convention Center / 4th St. @ MetroRail  ...             6685
17                                       22nd & Pearl  ...             6651
18                                  23rd & Rio Grande  ...             6643
19                  Convention Center / 3rd & Trinity  ...             6640
20                                     8th & Congress  ...             6609
21                                     4th & Congress  ...             6584
22                                       Lavaca & 6th  ...             6550
23                                       Lavaca & 6th  ...             6550
24                               Trinity & 6th Street  ...             6405
25              Red River/Cesar Chavez @ The Fairmont  ...             6351
26                                     6th & Chalmers  ...             6341
27                                     West & 6th St.  ...             6134
28                                       Brazos & 6th  ...             6128
29                               Trinity & 6th Street  ...             6118
30                                     Plaza Saltillo  ...             6046
31                        East 6th at Robert Martinez  ...             6019
32                        East 6th at Robert Martinez  ...             6016
33                                      11th & Salina  ...             6005
34                               Trinity & 6th Street  ...             5974
35                      Pfluger Bridge @ W 2nd Street  ...             5700
36                        Barton Springs @ Kinney Ave  ...             5673
37                        Barton Springs @ Kinney Ave  ...             5671
38                        Barton Springs @ Kinney Ave  ...             5669
39                                  23rd & Rio Grande  ...             5644
40  South Congress & Barton Springs at the Austin ...  ...             5619
41                             Davis at Rainey Street  ...             5590
42                             Davis at Rainey Street  ...             5566
43                                        5th & Bowie  ...             5524
44                   23rd & San Jacinto @ DKR Stadium  ...             5498
45                  Republic Square @ 5th & Guadalupe  ...             5373
46                          East 6th & Pedernales St.  ...             5297
47                             Red River & 8th Street  ...             5274
48                                     6th & Congress  ...             5273
49                               Trinity & 6th Street  ...             5223

[50 rows x 3 columns]

####Average time

In [80]:
%%bigquery --project smart-tracer-338719
SELECT 
AVG(duration_minutes) as avg_duration_mins, property_type
FROM(SELECT start_station_name, property_type, duration_minutes
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations` as stations
JOIN `bigquery-public-data.austin_bikeshare.bikeshare_trips` as trips ON name=start_station_name
GROUP BY station_id, start_station_name, property_type, duration_minutes
)
GROUP BY property_type
ORDER BY avg_duration_mins DESC

   avg_duration_mins         property_type
0         380.170030              parkland
1         368.081554              sidewalk
2         356.990710          paid_parking
3         319.246305
4         314.452945  undetermined_parking
5         206.311433    nonmetered_parking
6         173.850521                  None

##### So the average duration from parkland is longer than sidewalk.